body{background-color:pink;}
.rojoletra{color:red;font-size:400%;text-align: center;}
.tamaño{font-size:200%;text-align: center;text-decoration: underline;}
.subrayado{text-decoration: underline;}
.imagen{width:25%}
